/* rgba(42, 42, 42, 0.5) */
.modal .close-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
}
.modal .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  background-color: #1E1E1E;
  z-index: 250;
  transform: translate(-50%, -50%);
}
.modal h2 {
  text-align: center;
}
.modal p {
  margin: 10px;
}
.modal a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 10px 20px;
  border-radius: 20px;
  transform: translateX(-50%);
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #F5F5F5;
  background-color: #DC143C;
  font-size: 20px;
}
.modal a:hover {
  background-color: rgb(173.25, 15.75, 47.25);
  cursor: pointer;
}
