:target {
    padding-top: 10px;
    margin-top: -10px;
}

a{
    color:var(--main-color); 
    text-decoration: none; 
}

#catalog{
    display: grid;
    grid-gap:25px;
    grid-template-columns: repeat(3, 1fr);
    color:var(--main-color);
}

#title{
    margin:10px 0;
}

/*                                              Cards                           */
article{
    display:flex;
    flex-direction:column;
    position: relative;
    background-color: var(--background-overlay);
    border-radius:11px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

figure {
    margin:0;
    position: relative;
}

figure img{
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-panel{
    flex-grow: 1;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:5px;
}

.header{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}

.header h2{
    margin:0;
    font-size: 24px;
    color: var(--title-color);
}

.header .left{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.title{
    margin-bottom: 10px;
}

.header .right{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align: right;
}

.rating {
    margin-bottom: 10px;
}

.stars {
    font-size: 24px;
    display: inline-block;
    position: relative;
    background: linear-gradient(to right, var(--accent-color) var(--rating), var(--secondary-color) var(--rating));
    -webkit-background-clip: text;
    color: transparent;
}

.views {
  position: relative;
  padding-left:30px;
}

.views::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 16px;
  height: 8px;
  border: 2px solid var(--main-color); /* внешний контур */
  border-radius: 50%/45%; /* приплюснутый эффект */
}

.views::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 11px;
  width: 8px;
  height: 8px;
  background-color: var(--main-color); /* светлый цвет для зрачка */
  border-radius: 50%;
}

.download-icon {
    display:inline-block;
    width: 16px;
    height: 5px;
    position: relative;
    border-radius: 2px;
    border: 2px solid var(--main-color);
    border-top: 2px solid transparent;
}

.download-icon::before {
    content: '';
    position: absolute;
    left: 50%;  /* центрируем хвостик относительно стрелки */
    bottom: 4px; /* хвостик ниже стрелки */
    transform: translateX(-50%);
    width: 4px;
    height: 6px;
    background-color: var(--main-color);
}

.download-icon::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px; /* располагать стрелку ниже хвостика */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 5px solid var(--main-color); /* стрелка вниз */
}

.description{
    margin-bottom:10px;
}

.footer{
    display:flex;
    justify-content:space-between;
}

.refresh-icon {
    --start:90deg;
    --end:135deg;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    top:2px;
}

.refresh-icon::before {
    content: '';
    display:block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: conic-gradient(
        var(--main-color) 0deg var(--start),
        transparent var(--start) var(--end), /* 1/8 отсутствует */
        var(--main-color) var(--end) 360deg
    );
    mask: radial-gradient(circle, transparent calc(6px - 1%), black 6px); /* Делаем кольцо */
}

.refresh-icon::after {
    content: '';
    position: absolute;
    left: 8px; /* Позиционируем стрелку на правом конце */
    top: -2px; /* Центрируем стрелку по вертикали */
    width: 0;
    height: 0;
    border-left: 4px solid var(--main-color); /* Цвет и размер стрелки */
    border-top: 3px solid transparent; /* Верхний прозрачный угол стрелки */
    border-bottom: 3px solid transparent; /* Нижний прозрачный угол стрелки */
    transform-origin: 0 10px;
    transform:  rotate(var(--start)); /* Поворот стрелки, чтобы она выглядела как изогнутый угол */
}

.arrow {
  position: absolute;
  top: 8px;
  left: 8px;
}

.arrow::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 4px;
  background-color: var(--main-color);
  bottom: 0;
  left: -0.5px;
  transform-origin: 0.5px 4px;
  transform: rotate(215deg);
}

.arrow::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: var(--main-color);
  bottom: 0;
  left: -0.5px;
  transform-origin: 0.5px 5px;
  transform: rotate(60deg);
}


/*                                                 Filters                          */
#searchForm{
    position:relative;
    width:100%;
    border:none;
    border-radius:15px;
}

#searchInput::placeholder {
    color: var(--main-color);
    font-size: 16px;
}

#searchInput{
    width:calc(100% - 70px);

    border:none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--background-overlay);
    font-size:125%;
    padding:10px;
    color: var(--accent-color);
    height:16px;
}

#searchInput:focus{
    background-color:var(--background-overlay);
    outline:none;
}

.searchButton{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    width:50px;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--background-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton:hover{
    background-color: var(--accent-color);
}

.searchButton::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--dull-color);
}

.search-icon {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;  /* Прозрачный фон */
}

.search-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-sizing: border-box;
}

.search-icon::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 2px;
    height: 13px;
    border-radius: 2px;
    background-color: var(--main-color);  /* Ручка лупы */
    transform: rotate(-45deg);  /* Поворот на 45 градусов */
    transform-origin: bottom center;
}

.sort{
    border:none;
    border-radius:15px;
    background-color:var(--background-overlay);
    font-size:100%;
    margin-top:10px;
}

.dropdown-checkbox {
    display: none;
}

.dropdown-menu {
    position:relative;
    display: none;
}

.label{
    position:relative;
}

.dropdown-label {
    cursor: pointer;
    padding: 10px;
    position: relative;
    height:16px;
}

.dropdown-icon {
    position:absolute;
    right:10px;
    top:50%;
    transform: translatey(-50%);
    height:16px;
    width:16px;
}

.dropdown-icon::before {
    content: '';
    display:block;
    position:absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, calc(-50% - 3px)) rotate(-45deg);
    transition: transform 0.3s ease;
    height:12px;
    width:12px;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    box-sizing: border-box;
    border-radius:2px;
    
}

.dropdown-checkbox:checked ~ .dropdown-label .dropdown-icon::before {
    transform: translate(50%, -50%) rotate(135deg);
}

.dropdown-checkbox:checked ~ .dropdown-menu {
    margin: 0;
    padding: 5px;
    padding-bottom: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
}

.dropdown-menu a:hover{
    background-color:var(--background-color);
    transition: .25s;
}

.dropdown-menu a{
    transition: .25s;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.dropdown-item.off{
    border-radius:5px;
}

.dropdown-item.on{
    border-radius:20px;
    background-color:var(--background-color);
}

.dropdown-item-icon{
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.dropdown-item-icon:before {
    content: '';
    display:block;
    width: 100%;
    height: 100%;
    border: 2px solid var(--main-color);
    box-sizing: border-box;
    border-radius: 5px;
}

.dropdown-item-icon.on:after{
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    background-color: var(--accent-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.dropdown-item-icon.circle:before, .dropdown-item-icon.on.circle:after {
  border-radius: 50%;
}

/*                                                     Pagination                                */
#pagination {
    position:relative;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center; /* Центрирует элементы по горизонтали */
    gap: 10px; /* Пробел между ссылками, можно настроить */
}

#pagination a {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--background-overlay);
    color: var(--main-color);
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;

}

#pagination a:hover:not(.current-page) {
    color: var(--main-color);
    background-color: var(--accent-color);
    font-weight: bold;
}

#pagination .current-page {
    font-weight: bold;
    background-color: var(--accent-color);
    color: var(--title-color);
    border-radius: 10px;

}

.pagination-info{
    position:absolute;
    right:0;
    padding: 5px 10px;
}

/*                                                        media width                        */
@media (max-width: 767px) {
    #catalog{
        grid-template-columns: 1fr;
    }
    
    .dropdown-checkbox:checked ~ .dropdown-menu {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #catalog{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .dropdown-checkbox:checked ~ .dropdown-menu {
        grid-template-columns: repeat(4, 1fr);
    }
}