/* Основные стили для галереи */
.galery {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #000;
    user-select: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: grab;
}

/* Навигационные кнопки */
.swiper-button {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.swiper-container:hover .swiper-button {
    opacity: 1;
    pointer-events: auto;
}

.swiper-button-next {
    right: 10px;
    background-image: url('/images/3.png');
}

.swiper-button-prev {
    left: 10px;
    background-image: url('/images/4.png');
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: none;
}

/* Миниатюры */
.gallery-thumbs {
    height: 64px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
}

.gallery-thumbs .swiper-slide {
    width: 96px;
    height: 54px;
    cursor: pointer;
}

.gallery-thumbs .swiper-slide-thumb-active {
    border: 2px solid #007BFF;
}

/* Полноэкранный режим */
.gallery-top.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 150;
    background: rgba(0, 0, 0, 0.9);
}

.gallery-top.fullscreen .swiper-slide img {
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
    margin: auto;
    display: block;
}

.gallery-top.fullscreen .swiper-button {
    position: fixed;
    width: 50px;
    height: 50px;
}

.gallery-top.fullscreen .swiper-button-next {
    right: 30px;
}

.gallery-top.fullscreen .swiper-button-prev {
    left: 30px;
}

/* Кнопка полноэкранного режима */
.fullscreen-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url('/images/fullscreenOn.png');
}

.fullscreen-button.fullscreen-active {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 150;
    width: 50px;
    height: 50px;
    background-image: url('/images/fullscreenOff.png');
}

@media (max-width: 1080px) {
    .fullscreen-button.fullscreen-active {
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
    }
    .swiper-container:hover .swiper-button {
        opacity: 0;
        pointer-events: none;
    }
    .gallery-thumbs {
        height: 55px;
    }
    .gallery-thumbs .swiper-slide {
        width: 80px;
        height: 45px;
    }
}
