@use 'partials/base' as base;
@use 'partials/pack-icons' as icons;

.stars {
  @include icons.stars;
}

:target {
    padding-top: 115px;
    margin-top: -115px;
}

#content {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

#title {
    margin: 10px 0;
}

                                            /* Cards */
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: base.$background-overlay;
    border-radius: 11px;
    box-shadow: 0 4px 8px base.$shadow-color;
    
    .image {
        margin: 0;
        position: relative;
        
        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            margin: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    
    .info-panel {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        
        .header {
            display: grid;
            grid-template-columns: 60% 40%;
            margin-bottom: 10px;
            
            // &> * {
            //     max-width: 100%;
            //     white-space: nowrap;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            // }
        
            h2 {
                margin: 0;
                font-size: 24px;
                color: base.$title-color;
            }
            
            .title, .tags {
                justify-self: start;
                grid-column: 1;
            }
            
            .rating, .statistics {
                justify-self: end;
                grid-column: 2;
            }
            
            .title, .rating {
                margin-bottom: 10px;
                grid-row: 1;
            }
            
            .tags {
                font-size: 14px;
                grid-row: 2;
                
                a {
                    padding: 3px;
                    text-decoration: none;
                    transition: background-color .3s ease, color .3s ease, text-decoration .3s ease;
                    
                    &:hover {
                        color: base.$title-color;
                        text-decoration: underline;
                    }
                }
            }
            
            .statistics{
                display: flex;
                justify-content: center;
                gap: 5px;
                grid-row: 2;
            }
        }
        
        .description {
            margin-bottom: 10px;
        }
        
        .footer {
            display: flex;
            justify-content: space-between;
        }
    }
}

                                        /* Filters */
#searchForm {
    position: relative;
    width: 100%;
    border: none;
    border-radius: 15px;
}

#searchInput {
    width: calc(100% - 70px);
    border: none;
    border-radius: 15px 0 0 15px;
    background-color: base.$background-overlay;
    font-size: 125%;
    padding: 10px;
    color: base.$accent-color;
    height: 16px;

    &::placeholder {
        color: base.$main-color;
        font-size: 16px;
    }

    &:focus {
        background-color: base.$background-overlay;
        outline: none;
    }
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: base.$background-overlay;
    border-radius: 0 15px 15px 0;

    &:hover {
        background-color: base.$accent-color;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: base.$dull-color;
    }
}

.search-icon {
    position: relative;
    width: 24px;
    height: 24px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 2px solid base.$main-color;
        border-radius: 50%;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 1px;
        width: 2px;
        height: 10px;
        background-color: base.$main-color;
        transform: rotate(-45deg);
        transform-origin: bottom center;
    }
}

.sort {
    border: none;
    border-radius: 15px;
    background-color: base.$background-overlay;
    font-size: 100%;
    margin-top: 10px;
}

.dropdown-checkbox {
    display: none;
}

.dropdown-menu {
    position: relative;
    display: none;
}

.label {
    position: relative;
}

.dropdown-label {
    cursor: pointer;
    padding: 10px;
    position: relative;
    height: 16px;
}

.dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, calc(-50% - 3px)) rotate(-45deg);
        transition: transform 0.3s ease;
        height: 12px;
        width: 12px;
        border-left: 2px solid base.$main-color;
        border-bottom: 2px solid base.$main-color;
        box-sizing: border-box;
        border-radius: 2px;
    }
}

.dropdown-checkbox:checked ~ .dropdown-label .dropdown-icon::before {
    transform: translate(50%, -50%) rotate(135deg);
}

.dropdown-checkbox:checked ~ .dropdown-menu {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    margin: 0;
    padding: 5px 0 10px;
}

.dropdown-menu a {
    list-style-type: none;
    margin: 0;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    &:hover {
        background-color: base.$background-color;
        transition: 0.25s;
    }
}

.dropdown-item.off {
    border-radius: 5px;
}

.dropdown-item.on {
    border-radius: 20px;
    background-color: base.$background-color;
}

.dropdown-item-icon {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    height: 20px;
    width: 20px;
    margin-right: 5px;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border: 2px solid base.$main-color;
        box-sizing: border-box;
        border-radius: 5px;
    }

    &.on::after {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        background-color: base.$accent-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
    }

    &.circle::before,
    &.on.circle::after {
        border-radius: 50%;
    }
}

                                        /* Pagination */
#pagination {
    position: relative;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#pagination a {
    display: inline-block;
    padding: 5px 10px;
    background-color: base.$background-overlay;
    color: base.$main-color;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover:not(.current-page) {
        color: base.$main-color;
        background-color: base.$accent-color;
        font-weight: bold;
    }
}

#pagination .current-page {
    font-weight: bold;
    background-color: base.$accent-color;
    color: base.$title-color;
}

.pagination-info {
    position: absolute;
    right: 0;
    padding: 5px 10px;
}



@media (max-width: 767px) {
    #content{
        grid-template-columns: 1fr;
    }
    
    .dropdown-checkbox:checked ~ .dropdown-menu {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #content{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .dropdown-checkbox:checked ~ .dropdown-menu {
        grid-template-columns: repeat(4, 1fr);
    }
}