@charset "UTF-8";
/* rgba(42, 42, 42, 0.5) */
::-moz-selection {
  background-color: #DC143C;
  color: #E0E0E0;
}
::selection {
  background-color: #DC143C;
  color: #E0E0E0;
}

html {
  scrollbar-color: #A0A0A0 transparent;
  scrollbar-width: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #E0E0E0;
}

a {
  color: #E0E0E0;
  text-decoration: none;
  text-underline-offset: 4px;
}

button {
  all: unset;
  cursor: pointer; /* по желанию */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  background-color: #121212;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}
header .header-inner {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
header .header-inner .logo {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #DC143C;
}
header .header-inner .user-action {
  display: flex;
  position: relative;
  height: 100%;
  margin-left: auto;
  align-items: center;
}
header .header-inner .menu-button.site-menu-button {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}
header .header-inner .menu-button.site-menu-button .lines {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  transition: width 0.3s ease;
}
header .header-inner .menu-button.site-menu-button .lines::before, header .header-inner .menu-button.site-menu-button .lines::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s ease;
}
header .header-inner .menu-button.site-menu-button .lines::before {
  top: -10px;
}
header .header-inner .menu-button.site-menu-button .lines::after {
  top: 10px;
}
header .header-inner .menu-button.site-menu-button.is-active .lines {
  width: 0;
}
header .header-inner .menu-button.site-menu-button.is-active .lines::before {
  transform: translateY(10px) rotate(45deg);
}
header .header-inner .menu-button.site-menu-button.is-active .lines::after {
  transform: translateY(-10px) rotate(-45deg);
}
header .header-inner .menu-button.user-menu-button {
  height: 48px;
  width: 48px;
}
header .header-inner .menu.site-menu {
  display: flex;
  gap: 10px;
}
header .header-inner .menu.site-menu li {
  position: relative;
  padding: 10px 0;
  font-size: 18px;
  transition: color 0.3s;
}
header .header-inner .menu.site-menu li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #F5F5F5;
}
header .header-inner .menu.site-menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 4px;
  background-color: none;
  border-radius: 4px;
  transition: width 0.3s, background-color 0.3s;
}
header .header-inner .menu.site-menu li a:hover::after {
  width: 80%;
  background-color: #333;
}
header .header-inner .menu.site-menu li a.active {
  color: #DC143C;
}
header .header-inner .menu.site-menu li a.active::after {
  width: 80%;
  background-color: #DC143C;
}
header .header-inner .menu.user-menu {
  position: absolute;
  min-width: 300px;
  top: 100%;
  right: 0;
  padding: 5px 0;
  background-color: #1E1E1E;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none; /* чтобы не мешало кликам */
  transition: opacity 0.3s ease, transform 0.3s ease;
}
header .header-inner .menu.user-menu .avatar-wrapper {
  display: inline-block;
  margin-right: 16px;
}
header .header-inner .menu.user-menu li a, header .header-inner .menu.user-menu li span {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}
header .header-inner .menu.user-menu li a {
  transition: background-color 0.3s ease;
}
header .header-inner .menu.user-menu li a:hover {
  background-color: rgb(43.5, 43.5, 43.5);
}
header .header-inner .menu.user-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
header .header-inner .user-avatar {
  border-radius: 50%;
}

.hidden {
  transform: translateY(-100%);
}

.side-container {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100vh;
}
.side-container.left {
  left: 20px; /* или right: 0 для правой стороны */
}
.side-container.right {
  right: 20px; /* или right: 0 для правой стороны */
}
.side-container .ad-inner {
  min-width: 300px;
  min-height: 600px;
}

main {
  width: 100%;
  max-width: 1080px;
  min-height: 900px;
  margin: 85px auto 25px;
}

footer {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.6);
}
footer .footer-inner {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
footer .footer-inner .policies {
  display: flex;
  gap: 16px;
  margin-top: 1.5rem;
}
footer .footer-inner .policies a {
  padding: 3px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-text-decoration 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, text-decoration 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}
footer .footer-inner .policies a:hover {
  color: #F5F5F5;
  text-decoration: underline;
}
footer .footer-inner .copyright {
  font-size: 0.875rem;
  color: #A0A0A0;
  text-align: center;
  margin-top: 2rem;
}
footer .footer-inner .copyright a {
  color: inherit;
  text-decoration: underline;
}

h1 {
  font-size: 28px;
}

@media (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }
  header .header-inner {
    padding: 0 10px;
    justify-content: space-between;
  }
  header .header-inner .user-action {
    margin: 0;
  }
  header .header-inner .menu-button.site-menu-button {
    display: block !important;
    z-index: 3;
  }
  header .header-inner .menu.site-menu {
    display: block;
    position: absolute;
    top: 100%;
    height: calc(100vh - 100%);
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #1E1E1E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-8px);
  }
  header .header-inner .menu.site-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
  header .header-inner .menu.user-menu {
    width: 100vw;
    position: absolute;
    right: 0;
  }
  main {
    width: auto;
    margin: 85px 10px 25px;
  }
  h1 {
    font-size: 20px;
    line-height: 1.2;
  }
}
