@charset "UTF-8";
/* rgba(42, 42, 42, 0.5) */
/* Основные стили для галереи */
.PopularInMonth {
  width: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 10;
  margin-bottom: 30px;
  /* Навигационные кнопки */
  /* Медиазапросы */
}
.PopularInMonth .swiper-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #1E1E1E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.PopularInMonth .swiper-container .swiper-slide {
  display: flex;
}
.PopularInMonth .swiper-container .swiper-slide .preview {
  width: 70%;
}
.PopularInMonth .swiper-container .swiper-slide .preview img {
  width: 100%;
  height: auto;
  display: block;
}
.PopularInMonth .swiper-container .swiper-slide .info {
  width: 30%;
}
.PopularInMonth .swiper-container .swiper-slide .info .title {
  color: #F5F5F5;
  padding-left: 20px;
  font-size: 32px;
  margin: 20px 0;
}
.PopularInMonth .swiper-container .swiper-slide .info .thumbnails {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  grid-template-rows: repeat(2, auto); /* 2 строки */
}
.PopularInMonth .swiper-container .swiper-slide .info .thumbnails .thumbnail-wrapper {
  padding: 5px;
}
.PopularInMonth .swiper-container .swiper-slide .info .thumbnails .thumbnail-wrapper img {
  width: 100%;
}
.PopularInMonth .swiper-container .swiper-slide .info .description {
  padding: 0 20px;
  line-height: 1.5;
  color: #E0E0E0;
}
.PopularInMonth .swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  width: 64px;
  height: 128px;
  cursor: pointer;
}
.PopularInMonth .swiper-button-next, .PopularInMonth .swiper-button-prev {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.PopularInMonth .swiper-button-next {
  right: -64px;
  background: linear-gradient(90deg, #121212 0%, #1E1E1E 100%);
}
.PopularInMonth .swiper-button-next:hover {
  background: linear-gradient(90deg, #121212 0%, #DC143C 100%);
}
.PopularInMonth .swiper-button-next::after {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(calc(50% - 8.6470418323px), -50%) rotate(-135deg);
  transition: transform 0.3s ease;
  height: 32px;
  width: 32px;
  border-left: 5.3333333333px solid #E0E0E0;
  border-bottom: 5.3333333333px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5.3333333333px;
}
.PopularInMonth .swiper-button-prev {
  left: -64px;
  background: linear-gradient(-90deg, #121212 0%, #1E1E1E 100%);
}
.PopularInMonth .swiper-button-prev:hover {
  background: linear-gradient(-90deg, #121212 0%, #DC143C 100%);
}
.PopularInMonth .swiper-button-prev::after {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(calc(50% + 8.6470418323px), -50%) rotate(45deg);
  transition: transform 0.3s ease;
  height: 32px;
  width: 32px;
  border-left: 5.3333333333px solid #E0E0E0;
  border-bottom: 5.3333333333px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5.3333333333px;
}
.PopularInMonth .swiper-pagination {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.PopularInMonth .swiper-pagination .swiper-pagination-bullet {
  height: 12px;
  width: 18px;
  margin: 6px;
  border-radius: 3px;
  opacity: 1;
  background: none;
  background-color: #333;
}
.PopularInMonth .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #DC143C;
}
@media (max-width: 767px) {
  .PopularInMonth .swiper-container .swiper-slide {
    flex-direction: column;
  }
  .PopularInMonth .swiper-container .swiper-slide .preview,
  .PopularInMonth .swiper-container .swiper-slide .info {
    width: 100%;
  }
  .PopularInMonth .swiper-container .swiper-slide .info .thumbnails {
    display: none;
  }
  .PopularInMonth .swiper-button {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .PopularInMonth {
    /* Добавьте специфичные стили для этого диапазона, если необходимо */
  }
}

.slogan {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  color: #F5F5F5;
  line-height: 1.4;
  letter-spacing: 1px;
}

h1 .highlight-anime {
  color: #DC143C;
  font-weight: bold;
}

.about-section {
  margin: 40px 0 0;
}
.about-section a {
  color: #DC143C;
  text-decoration: underline;
}
