$background-color: #121212;
$background-overlay: #1E1E1E; /* rgba(42, 42, 42, 0.5) */
$shadow-color: rgba(0, 0, 0, 0.6);
$main-color: #E0E0E0;
$title-color: #F5F5F5;
$accent-color: #DC143C;
$dull-color: #333;
$secondary-color: #A0A0A0;
