@use 'base' as base;

@mixin stars($star-size: 1.25em) {
  display: flex;
  white-space: nowrap;
  gap: 3px;
  margin: 6px 0;

  .star {
    position: relative;
    display: inline-block;
    width: $star-size;
    height: $star-size;
    clip-path: polygon(
      50% 0%, 
      66.67% 32.14%, 
      100% 39.29%, 
      76.67% 64.29%, 
      83.33% 100%, 
      50% 85.71%, 
      16.67% 100%, 
      23.33% 64.29%, 
      0% 39.29%, 
      33.33% 32.14%
    );
  }

  .full {
    background: base.$accent-color;
  }

  .half {
    background: linear-gradient(
      to right, 
      base.$accent-color 50%, 
      base.$secondary-color 50%
    );
  }

  .empty {
    background: base.$secondary-color;
  }
}

@mixin views-icon($size: 16px) {
  position: relative;
  padding-left: $size * 2;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    top: $size * 0.18;
    left: $size * 0.3;
    width: $size;
    height: $size * 0.5;
    border: 2px solid base.$main-color;
    border-radius: 50% / 45%;
  }

  &::after {
    top: $size * 0.3;
    left: $size * 0.7;
    width: $size * 0.5;
    height: $size * 0.5;
    background-color: base.$main-color;
  }
}

@mixin download-icon($size: 16px) {
  display: inline-block;
  width: $size;
  height: $size * 0.3;
  margin-right: $size * 0.3;
  position: relative;
  border-radius: 2px;
  border: 2px solid base.$main-color;
  border-top: 2px solid transparent;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: $size * 0.25;
    transform: translateX(-50%);
    width: $size * 0.25;
    height: $size * 0.4;
    background-color: base.$main-color;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: $size * 0.4 solid transparent;
    border-right: $size * 0.4 solid transparent;
    border-top: $size * 0.3 solid base.$main-color;
  }
}

.refresh-icon {
    $start: 90deg;
    $end: 135deg;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    
    vertical-align: -2px;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: conic-gradient(base.$main-color 0deg $start, transparent $start $end, base.$main-color $end 360deg);
        mask: radial-gradient(circle, transparent calc(6px - 1%), black 6px);
    }

    &::after {
        content: '';
        position: absolute;
        left: 8px;
        top: -2px;
        width: 0;
        height: 0;
        border-left: 4px solid base.$main-color;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        transform-origin: 0 10px;
        transform: rotate($start);
    }

    .arrow {
        position: absolute;
        top: 8px;
        left: 8px;
    
        &::before, &::after {
            content: '';
            position: absolute;
            bottom:0;
            width: 1px;
            background-color: base.$main-color;
        }
    
        &::before {
            height: 4px;
            transform-origin: bottom center;
            transform: rotate(215deg);
        }
    
        &::after {
            height: 5px;
            transform-origin: bottom center;
            transform: rotate(60deg);
        }
    }
}
